/* #Reset
================================================================================================= */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Novecento
================================================================================================= */
@font-face {
  font-family: 'Novecentowide-Bold';
  src: url("/fonts/novecento/25DFFC_0_0.eot");
  src: url("/fonts/novecento/25DFFC_0_0.eot?#iefix") format("embedded-opentype"), url("/fonts/novecento/25DFFC_0_0.woff") format("woff"), url("/fonts/novecento/25DFFC_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Novecentowide-Light';
  src: url("/fonts/novecento/25DFFC_1_0.eot");
  src: url("/fonts/novecento/25DFFC_1_0.eot?#iefix") format("embedded-opentype"), url("/fonts/novecento/25DFFC_1_0.woff") format("woff"), url("/fonts/novecento/25DFFC_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Novecentowide-DemiBold';
  src: url("/fonts/novecento/25DFFC_2_0.eot");
  src: url("/fonts/novecento/25DFFC_2_0.eot?#iefix") format("embedded-opentype"), url("/fonts/novecento/25DFFC_2_0.woff") format("woff"), url("/fonts/novecento/25DFFC_2_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Novecentowide-Book';
  src: url("/fonts/novecento/25DFFC_3_0.eot");
  src: url("/fonts/novecento/25DFFC_3_0.eot?#iefix") format("embedded-opentype"), url("/fonts/novecento/25DFFC_3_0.woff") format("woff"), url("/fonts/novecento/25DFFC_3_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Novecentowide-Normal';
  src: url("/fonts/novecento/25DFFC_4_0.eot");
  src: url("/fonts/novecento/25DFFC_4_0.eot?#iefix") format("embedded-opentype"), url("/fonts/novecento/25DFFC_4_0.woff") format("woff"), url("/fonts/novecento/25DFFC_4_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Novecentowide-Medium';
  src: url("/fonts/novecento/25DFFC_5_0.eot");
  src: url("/fonts/novecento/25DFFC_5_0.eot?#iefix") format("embedded-opentype"), url("/fonts/novecento/25DFFC_5_0.woff") format("woff"), url("/fonts/novecento/25DFFC_5_0.ttf") format("truetype"); }

/* Open Sans
================================================================================================= */
/* Colors
================================================================================================= */
/* Transition Times
================================================================================================= */
/* Ease and Shadow
================================================================================================= */
.ease {
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  -ms-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out; }

.shadow {
  -webkit-box-shadow: 0px 1px 7px 2px #c2c2c2;
  box-shadow: 0px 1px 7px 2px #c2c2c2; }

/* Logo
===============================================================================================*/
.logowindow {
  width: 25%;
  overflow-x: hidden;
  float: left; }

.logowrapper {
  height: 45px;
  width: 96.3px;
  margin: 23px 0 39px 0;
  padding-right: 16px; }
  .logowrapper .logobox {
    width: 100%;
    height: 100%;
    border: solid 7.14286px #fafafa; }
    .logowrapper .logobox .logoc {
      height: 14%;
      width: 25%;
      background: #fafafa;
      float: left;
      margin-top: 22%;
      margin-left: 26%; }
    .logowrapper .logobox .logoh {
      width: 8%;
      height: 30%;
      background: #fafafa;
      float: right;
      margin-right: 20%; }
    .logowrapper .logobox .lh1 {
      margin-top: 0; }
    .logowrapper .logobox .lh2 {
      margin-top: 20%; }
  .logowrapper:hover .logobox {
    background: #34495e; }

/* #Colummns
================================================================================================= */
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
  float: left;
  position: relative;
  margin-left: 1%;
  margin-right: 1%; }

/* #Grind 12 Colummns
================================================================================================= */
.col1 {
  width: 6.333%; }

.col2 {
  width: 14.667%; }

.col3 {
  width: 23.0%; }

.col4 {
  width: 32%; }

.col5 {
  width: 39.667%; }

.col6 {
  width: 49.0%; }

.col7 {
  width: 56.333%; }

.col8 {
  width: 64.667%; }

.col9 {
  width: 73.0%; }

.col10 {
  width: 81.333%; }

.col11 {
  width: 89.667%; }

.col12 {
  width: 100%; }

/* #Clear Margin left and right
================================================================================================= */
.first {
  margin-left: 0%; }

.last {
  margin-right: 0%; }

/* Nav
===============================================================================================*/
nav {
  text-align: right;
  width: 75%;
  float: right;
  margin-top: 29px; }
  nav ul {
    list-style: none; }
    nav ul li {
      display: inline-block;
      margin-right: 0.75%;
      margin-left: 0.1%; }
      nav ul li a {
        display: inline-block;
        text-decoration: none;
        font-family: 'Novecentowide-Bold';
        font-size: 2em;
        letter-spacing: 0.062em;
        color: #f3f3f3;
        padding: .7em .85em .8em .85em; }
  nav select {
    display: none; }

.slash:after {
  content: "//";
  margin-left: .7em;
  font-family: 'Novecentowide-Bold';
  font-size: 2em;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  -ms-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
  color: #f3f3f3;
  color: rgba(255, 255, 255, 0.4); }

/* Header
===============================================================================================*/
.header {
  background: #2ecc71;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 0; }
  .header:hover {
    background-color: #2ecc71; }
    .header:hover nav ul li a {
      color: #f3f3f3; }
      .header:hover nav ul li a:hover {
        background: #24ad5f; }
  .header .nav-wrapper {
    width: 92%;
    max-width: 1463px;
    margin: 0 auto; }

/* Media - Fluid Images - Video
============================================================================================== */
figure {
  margin: 0; }

img, object, embed, video {
  max-width: 100%;
  _width: 100%; }

/* Fluid images */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* Improve IE's resizing of images */
svg:not(:root) {
  overflow: hidden; }

/* Correct IE9 overflow */
img {
  height: auto; }

/* Links
============================================================================================== */
a {
  color: #c0392b;
  text-decoration: none;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  -ms-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out; }
  a:focus, a:hover, a:active {
    outline: 0; }
  a:hover {
    color: #2ecc71; }

/* Headers
====================================================================================================*/
h1, h2, h3, h4, h5 {
  margin-bottom: 0.5em;
  color: #34495e;
  font-family: 'Novecentowide-Bold';
  letter-spacing: 0.034em; }

h1 {
  font-size: 5em; }

h2 {
  font-size: 4em; }

h3 {
  font-size: 3em; }

h4 {
  font-size: 2.5em; }

h5 {
  font-size: 1em; }

/* Body Elements
====================================================================================================*/
body {
  height: 100%;
  background: url("http://www.see8ch.com/images/navy_blue.png");
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 62.5%;
  color: #999999; }
  body p {
    line-height: 18px; }

/* #Containers
================================================================================================= */
.container_fixed {
  /*You can adjust the width here to fit your design. i.e: 980px, 1280px if you wnat a fixed container*/
  width: 1024px;
  margin: 0 auto;
  display: table; }

.container {
  width: 100%;
  margin: 0;
  display: inline-block; }

/* Content
===============================================================================================*/
.content {
  max-width: 1360px;
  width: 82%;
  margin: 16em auto 10em auto;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.97);
  padding: 5em; }
  .content p {
    font-size: 2em;
    line-height: 1.3em;
    color: #34495e;
    margin-bottom: 1em; }

/* Sections
===============================================================================================*/
section {
  margin-bottom: 0em; }

/* Nav & Header
===============================================================================================*/
/* Nav
===============================================================================================*/
nav {
  text-align: right;
  width: 75%;
  float: right;
  margin-top: 29px; }
  nav ul {
    list-style: none; }
    nav ul li {
      display: inline-block;
      margin-right: 0.75%;
      margin-left: 0.1%; }
      nav ul li a {
        display: inline-block;
        text-decoration: none;
        font-family: 'Novecentowide-Bold';
        font-size: 2em;
        letter-spacing: 0.062em;
        color: #f3f3f3;
        padding: .7em .85em .8em .85em; }
  nav select {
    display: none; }

.slash:after {
  content: "//";
  margin-left: .7em;
  font-family: 'Novecentowide-Bold';
  font-size: 2em;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  -ms-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
  color: #f3f3f3;
  color: rgba(255, 255, 255, 0.4); }

/* Header
===============================================================================================*/
.header {
  background: #2ecc71;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 0; }
  .header:hover {
    background-color: #2ecc71; }
    .header:hover nav ul li a {
      color: #f3f3f3; }
      .header:hover nav ul li a:hover {
        background: #24ad5f; }
  .header .nav-wrapper {
    width: 92%;
    max-width: 1463px;
    margin: 0 auto; }

/* Portfolio Grid
===============================================================================================*/
/* Entries */
.portfolio article {
  margin-bottom: 5em; }
.portfolio .col4 a {
  text-decoration: none; }

.portfolio_header {
  width: 100%;
  background: #2ecc71;
  margin-top: 1em;
  margin-bottom: 0.75em;
  padding: 1em 0;
  color: white;
  text-align: center;
  font-size: 3em; }

.disclaimer {
  font-style: italic;
  color: #c0392b !important;
  font-size: 1.5em !important;
  font-weight: 700;
  background: #fbf0ef;
  padding: 1em;
  margin-bottom: 2em !important;
  text-align: center; }

/* Portfolio Pages
===============================================================================================*/
.entry {
  border: solid 1.4em #e4e4e4;
  padding: 4%;
  color: #bcbcbc; }
  .entry img {
    margin-bottom: 1.5em; }
  .entry h4 {
    color: #bcbcbc;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out; }
  .entry p {
    font-size: 1.7em; }
  .entry:hover {
    background: #2ecc71; }
    .entry:hover h4 {
      color: #fafafa; }

/* Coming Soon
===============================================================================================*/
.comingsoon {
  background: #999999;
  opacity: 0.35; }
  .comingsoon img {
    filter: url(filters.svg#grayscale);
    /* Firefox 3.5+ */
    filter: gray;
    /* IE5+ */
    -webkit-filter: grayscale(1);
    /* Webkit Nightlies & Chrome Canary */
    opacity: 0.5; }
  .comingsoon p {
    color: #bcbcbc; }
  .comingsoon:hover {
    background: #999999; }
    .comingsoon:hover h4 {
      color: #bcbcbc; }

.exp {
  text-align: center;
  padding: 5.45em 0; }
  .exp h4 {
    color: #f3f3f3; }
  .exp:hover h4 {
    color: #f3f3f3; }

/* Portfolio Pages
===============================================================================================*/
.project_intro {
  margin-bottom: 0; }
  .project_intro h2 {
    margin-bottom: 0.25em; }
  .project_intro h4 {
    color: #999999; }

.main_image {
  margin-bottom: 0; }

.project_image {
  margin-bottom: 0; }

.caption {
  text-align: center;
  background: #e4e4e4;
  color: #34495e !important;
  font-size: 1.4em !important;
  margin-top: -0.25em;
  padding: 1em 1em 0.85em 1em; }

.project_subtitle {
  background: #e4e4e4;
  padding: 0.7em 0.8em 0.8em;
  color: #34495e;
  margin-top: 2em; }

.subhead {
  margin-top: 1.8em;
  margin-bottom: 0.75em; }

/* wigo
===============================================================================================*/
.wigofeat {
  margin-top: 1.5em; }

/* over
===============================================================================================*/
.overrenderp {
  margin: 3em 0 4em 0; }

/* OLPC
===============================================================================================*/
.olpcmainimg {
  margin-bottom: 1.5em; }

.olpcfeature {
  width: 70%;
  margin-top: 3em;
  margin-left: 15%;
  margin-bottom: 2.5em; }

/* C4L
===============================================================================================*/
.c4lsubtitle {
  margin-top: 0.75em; }

.c4lfeat {
  margin-bottom: 1.5em; }

.c4lsitecol {
  text-align: center; }

.c4lapp {
  margin-bottom: 3em;
  margin-top: 1.5em; }

.c4lsite {
  width: 80%;
  box-shadow: 0 2px 5px 1px #bcbcbc; }

.workintro h2 {
  font-size: 3.7em; }

/* About
===============================================================================================*/
.headshot {
  margin-top: 3em;
  border: solid 1.4em #e4e4e4; }

/* Big Icons
===============================================================================================*/
.bigicon {
  font-size: 22em;
  text-align: center;
  color: #e4e4e4;
  margin-top: .25em;
  padding-left: .2em;
  cursor: crosshair; }
  .bigicon:hover {
    color: #f39c12; }
  .bigicon::selection {
    background: #f3f3f3;
    background: rgba(255, 255, 255, 0);
    color: #c0392b; }
  .bigicon::-moz-selection {
    background: #f3f3f3;
    background: rgba(255, 255, 255, 0);
    color: #c0392b; }

/* About Page
===============================================================================================*/
.abouticon {
  font-size: 3em;
  color: #bcbcbc;
  margin-right: 0.5em; }

.aboutheader {
  color: #bcbcbc; }

.resumelink {
  margin-bottom: 2em !important; }

.presslinks {
  font-size: 1.8em !important; }

/* Contact Page
===============================================================================================*/
.contactcol {
  text-align: center; }
  .contactcol p {
    font-weight: 700;
    font-size: 1.4em; }

.contacticon {
  margin-top: .25em;
  padding-left: 0;
  color: #c0392b;
  font-size: 22em; }
  .contacticon:hover {
    color: #f39c12; }

/* Footer
===============================================================================================*/
.footer {
  text-align: center;
  margin-bottom: 1.7em; }
  .footer p {
    font-size: 1.3em;
    letter-spacing: 0; }
  .footer a {
    color: #fafafa; }
    .footer a:hover {
      color: #2ecc71; }

/* Selection
================================================================================================= */
::selection {
  background: #f39c12; }

::-moz-selection {
  background: #f39c12; }

/* Clear
----------------------------------------------------------------------------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* Overrides 
===============================================================================================*/
body {
  letter-spacing: .1em; }

.contentwrapper {
  padding: 6em 8% 0 8%; }

section {
  background: #f3f3f3;
  padding: 3.25em 4em;
  margin-bottom: 4em; }
  section .experience {
    margin-top: 2em; }

article {
  margin: 0 0 2% 0;
  background: #fafafa;
  padding: 3.75em 2em 3em 3.75em;
  border: 1.5em solid #e4e4e4; }

a {
  text-decoration: none;
  color: #bcbcbc; }

p {
  font-size: 1.6em; }

/* Intro
===============================================================================================*/
.resume-intro {
  background: #f3f3f3;
  padding: 5.5em 5em 3.5em 5em;
  letter-spacing: normal; }
  .resume-intro h2 span {
    font-size: 0.6em;
    color: #bcbcbc; }
  .resume-intro p {
    font-size: 2.9em; }

/* Header
===============================================================================================*/
.resume-header {
  background: #2ecc71;
  padding: 0.7em 0.8em 0.8em;
  color: white;
  margin-bottom: 0.8em; }

/* Resume Entry
===============================================================================================*/
/*	Header	*/
.position-header {
  font-family: 'Novecentowide-Demibold';
  color: #e4e4e4;
  width: 100%; }
  .position-header span {
    color: #bcbcbc;
    font-size: 0.8em;
    font-family: 'Novecentowide-Demibold'; }

/*	Title	*/
.position-title {
  color: #34495e; }

/*	Location	*/
.position-location {
  width: 100%; }
  .position-location p {
    font-family: 'Novecentowide-Demibold';
    color: #bcbcbc;
    font-size: 1.5em; }

/*	Description	*/
.position-description {
  margin-bottom: 2em;
  margin-left: 0; }
  .position-description p {
    padding-right: 8em; }

/*	Clients, Awards & Qualifications	*/
.position-clients {
  display: inline; }

.client-title {
  width: 11%;
  float: left; }
  .client-title p {
    font-size: 1.8em;
    font-family: 'Novecentowide-Demibold';
    margin-top: -0.04em; }

.client-list {
  width: 80%;
  float: left; }
  .client-list p {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 1.8em;
    color: #bcbcbc; }
  .client-list a {
    text-decoration: underline; }
    .client-list a:hover {
      color: #c0392b; }

/* Footer
===============================================================================================*/
.resumefooter {
  width: 100%;
  text-align: center;
  font-size: 8em;
  display: inline-block;
  margin-top: 0.3em; }
  .resumefooter a {
    margin-right: 1%;
    margin-left: 1%;
    color: #bcbcbc; }
    .resumefooter a:hover {
      color: #2ecc71; }

/* RESPONSIVE
============================================================================================== */
@media screen and (max-width: 1350px) {
  .client-title {
    width: 12%; } }
@media screen and (max-width: 1250px) {
  .client-title {
    width: 13%; } }
@media screen and (max-width: 1170px) {
  .client-title {
    width: 14%; } }
@media screen and (max-width: 1100px) {
  .client-title {
    width: 15%; } }
@media screen and (max-width: 1055px) {
  .client-title {
    width: 16%; } }
@media screen and (max-width: 1024px) {
  .resume-intro p {
    font-size: 3.9em; }

  .position-description p {
    padding-right: 2em; }

  .client-title {
    width: 100%; }
    .client-title p {
      margin-bottom: 0.3em; }

  .client-list {
    width: 100%; } }
@media screen and (max-width: 768px) {
  .position-description p {
    font-size: 2.2em;
    padding-right: 2em; }

  .resume-intro h2 {
    font-size: 3.6em; }
    .resume-intro h2 span {
      font-size: 0.5em; }

  .resume-header {
    text-align: center; } }
@media screen and (max-width: 480px) {
  .resume-intro {
    padding: 4em 2.5em 2em 2.5em;
    margin-top: 1.5em;
    margin-bottom: 2.25em; }
    .resume-intro h2 {
      font-size: 3.1em; }
      .resume-intro h2 span {
        font-size: 0.75em; }
    .resume-intro p {
      font-size: 2.2em; }

  .position-description p {
    padding-right: 0; }

  .resumefooter {
    margin-top: 0;
    margin-bottom: 0.3em; }
    .resumefooter a {
      font-size: 1em; } }
/* RESPONSIVE
============================================================================================== */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* Retina-specific stuff here */
  body {
    background: url("http://www.see8ch.com/images/navy_blue@2x.png"); } }
@media handheld, only screen and (max-width: 1295px) {
  .bigicon {
    font-size: 20em;
    margin-top: 0.3em; } }
@media handheld, only screen and (max-width: 1168px) {
  .bigicon {
    font-size: 18em;
    margin-top: 0.4em; } }
@media handheld, only screen and (max-width: 1088px) {
  .bigicon {
    display: none; }

  .pageintro {
    width: 99%; } }
/* General small screen Mobile */
@media handheld, only screen and (max-width: 767px) {
  body {
    font-size: 1.0em;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none; }

  .container_fixed, .container {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0; }

  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
    width: auto;
    float: none;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px; } }
/* Other Sizes */
@media screen and (max-width: 768px) {
  body {
    font-size: 50%; }

  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
    padding: 0; }

  .content {
    margin: 17em 4% 10em 4%; }

  nav {
    margin-top: 2.55em; }
    nav ul {
      display: none; }
    nav select {
      display: inline-block;
      -webkit-appearance: none;
      text-indent: 20px;
      width: 10em;
      padding: 0.75em 0 0.9em 0.08em;
      background: #2ecc71;
      border-radius: 0;
      border: 8px solid #24ad5f;
      font-size: 2em;
      color: #24ad5f;
      font-family: 'Novecentowide-Bold';
      -webkit-transition: all 600ms ease-in-out;
      -moz-transition: all 600ms ease-in-out;
      -o-transition: all 600ms ease-in-out;
      -ms-transition: all 600ms ease-in-out;
      transition: all 600ms ease-in-out; } }
@media screen and (max-width: 480px) {
  body {
    font-size: 50%; }

  .content {
    margin: 11em 0% 2em 0%;
    padding: 3em 4%;
    width: 92%; }

  section {
    padding: 0;
    background: none; }

  article {
    margin-bottom: 2em;
    padding-left: 2.2em;
    padding-top: 2.75em; }

  .logowindow, nav {
    width: 50%; }

  .lh2 {
    margin-top: 20%; }

  nav {
    margin-top: 2.25em; }
    nav select {
      text-indent: 9999px;
      border: none;
      background: none;
      color: #fafafa;
      margin-top: 0.9em;
      width: 60px; }
    nav:after {
      float: left;
      position: absolute;
      top: 0;
      right: 13px;
      content: '▼';
      color: #24ad5f;
      font-size: 3em;
      border: 5px solid #24ad5f;
      padding: 0.35em 0.5em 0.35em 0.47em;
      margin-right: 0.6em;
      margin-top: 1.2em;
      pointer-events: none; } }
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  body {
    font-size: 50%; }

  .lh2 {
    margin-top: 20%; } }
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .lh2 {
    margin-top: 20%; } }
