/* Logo
===============================================================================================*/

.logoname {
	width:100%;
	text-align: center;
	color:white;
	font-size:2.1em;
	@include n-bold;
	position:absolute;
	letter-spacing:0.07em;
	margin-top: 1.1em;
}


.logowrapper {
	height:50px;
	width:250px; /* 2.1x height */
	margin-bottom:55px;
	margin:20px auto 45px auto;

	.logobox {
		border-width:10px;
		background:$green;
		border-color:$green;
		text-align: center;
		box-shadow: 0px 0px 0px 8px $medgray;

		.logoc, .logoh {
		background-color:$green;
		}

		.logoc {
			height:19%;
			width:18%;
			margin-top:8%;
			margin-left:32%;
		}

		.logoh {
			margin-right:26%;
			width:4%;
		}

		.lh1 {
		  	margin-top:-3.9%;
		}

		.lh2 {
			margin-top:15.5%;
		}
	}
}




/* Header & Nav
===============================================================================================*/

.header {
	background:none;
	padding:3.5% 0 4% 0;
	margin-top:9%;
	width:100%;

	nav {
		position:relative;
		text-align: center;
		width:100%;

		a {
			color:rgba(255,255,255,0);
			visibility: hidden;
		}
	}

	.slash:after {
		color:rgba(255,255,255,0);
	}

	&:hover {
		$height: 75px;
		$border: $height / 6.3;
		$logocolor: #fafafa;

		nav {
			margin-bottom:10px;

			a {visibility: visible;}
		}

		.logoname {
			opacity:0;
		}

		.logowrapper {
			margin-bottom:60px;
			height:$height;
			width:$height * 2.14;
		}

		.logobox {
			border-size:$border;
			border-color:$logocolor;
			border-radius:0px;
			background:$green;
			box-shadow:none;

			.logoc, .logoh {
			background-color:$logocolor;
			visibility: visible;
			}

			.logoc {
				height:12.5%;
				width:25%;
				margin-top:22%;
				margin-left:26%;
			}

			.logoh {
				width:6%;
				height:30%;
				margin-right:20%;
			}

			.lh1 {
			  	margin-top:0;
			}

			.lh2 {
			  	margin-top:19.5%;
			}
		}

		.slash:after {
			color:$lightgray;
			color:rgba(255,255,255,0.4);
		}
	}
}




/* Contact Area
===============================================================================================*/

.contact {
	position:absolute;
	margin: 0 auto;
	bottom:0;
	width:100%;
	text-align: center;
	margin-bottom:7em;

	a {
		color:$lightgray;
		color:rgba(255,255,255,0.2);
		font-size:4.4em;
		text-decoration: none;
	}

	a:hover {
		color:$green;
	}

	.emailicon, .resumeicon, .twittericon {
		margin-left:0.4em;
		margin-right:0.4em;
	}
}




/* First/Last Margins
============================================================================================== */

.first { margin-left:0; }

.last { margin-right:0; }





/* RESPONSIVE
============================================================================================== */

@media screen and (max-width: 1024px) {
  	nav {
    	ul {display: none;}
    	margin-top:2.55em;

		select {
			display: inline-block;
			-webkit-appearance:none;
			text-indent: 20px;
    		width:286px;
    		padding:0.9em 0 1em 2.5em;
    		background:$green;
    		border-radius:0;
    		border:8px solid $darkgreen;
    		font-size:2em;
    		color:$darkgreen;
    		@include n-bold;
    		@include ease-600;
		}
	}

	.logoname { display:none;}

 	.header {
 		margin-top:0;
 		padding-bottom:8em;
 		padding-top:4.5%;
 		background: $green;
		margin-bottom:0;

		$height: 75px;
		$border: $height / 6.3;
		$logocolor: $white;

		nav {
			a {visibility: visible;}
		}

		.logoname {
			opacity:0;
		}

		.logowrapper {
			margin-bottom:70px;
			height:$height;
			width:$height * 2.14;
		}

		.logobox {
			border-size:$border;
			border-color:$logocolor;
			border-radius:0px;
			background:$green;
			box-shadow:none;

			.logoc, .logoh {
			background-color:$logocolor;
			visibility: visible;
			}

			.logoc {
				height:12.5%;
				width:25%;
				margin-top:22%;
				margin-left:26%;
			}

			.logoh {
				width:6%;
				height:30%;
				margin-right:20%;
			}

			.lh1 {
			  	margin-top:0;
			}

			.lh2 {
			  	margin-top:19.5%;
			}
		}

		&:hover {
			nav {margin-bottom:0;}

			.logowrapper {margin-bottom:60px;}
		}
 	}
}


@media screen and (max-width: 768px) {

 	.contact {
 		margin-bottom:3em;

 		a {font-size:5em;}
 	}

 	.header {
 		padding-bottom:8em;
    }

    nav {
    	select {
    		padding:0.9em 0 1em 3.8em;
    	}
    }

    .logowrapper {
		margin-bottom:60px;
	}
}



@media screen and (max-width: 480px) {

	nav {
    	ul {display: none;}

		select {
			display: inline-block;
			margin-top:0;
			text-indent: 20px;
    		width:15em;
    		padding:0.85em 0em 0.9em 2.25em;
    		border-radius:0;
    		border:8px solid $darkgreen;
    		font-size:2em;
    		color:$darkgreen;
    		@include n-bold;
    		@include ease-600;
    	}

    	&:after {
    		content:'';
    		border:none;
    	}
    }
}

.footer {display:none;}


/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
 	.contact {
 		margin-bottom:3em;

 		a {font-size:5em;}
 	}

    nav {
    	select {
    		width:286px;
    		border-size:8px;
    		font-size:2em;
    		padding:0.9em 0 1em 3.8em;
    		margin-left: 4px;
    	}
    }

 	.logoname { display:none;}

 	.header {
 		margin-top:0;
 		padding-bottom:7em;
 		padding-top:4.5%;
 		background: $green;
		margin-bottom:0;

		$height: 75px;
		$border: $height / 6.3;
		$logocolor: $white;

		nav {
			a {visibility: visible;}
		}

		.logoname {
			opacity:0;
		}

		.logowrapper {
			margin-bottom:60px;
			height:$height;
			width:$height * 2.14;
		}

		.logobox {
			border-size:$border;
			border-color:$logocolor;
			border-radius:0px;
			background:$green;
			box-shadow:none;

			.logoc, .logoh {
			background-color:$logocolor;
			visibility: visible;
			}

			.logoc {
				height:12.5%;
				width:25%;
				margin-top:22%;
				margin-left:26%;
			}

			.logoh {
				width:6%;
				height:30%;
				margin-right:20%;
			}

			.lh1 {
			  	margin-top:0;
			}

			.lh2 {
			  	margin-top:19.5%;
			}
		}

		&:hover {
			nav {margin-bottom:0;}

			.logowrapper {margin-bottom:60px;}
		}
 	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}